button {
	border: 1px solid #777;
	border-radius: 6px;
	background-color: #ccc;
	box-shadow: inset 0 0 2px 2px #bbb;
	padding: 3px;

	&:hover {
		box-shadow: 0 0 3px 3px #aaa, inset 0 0 3px 3px #aaa;
	}
}

.playerCanvas {
	height: 100%;
	width: 100%;
	background: #f0f0f0;
}

.control {
	>input {
		font-size: large;
		width: 100px;
	}
}

.control.addPlayer {
	text-align: center;

	>input {
		display: block;
	}
	>button {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
}

.control.player {
	&.edit {
		>input {
			display: block;
		}
		>span {
			display: none;
		}
	}
	&.read {
		>input {
			display: none;
		}
		>span {
			border: 1px solid #777;
			min-width: 100px;
			text-align: center;
			padding: 5px 0px 5px 0px;
			display: block;
		}
	}
}

* {
	font-family: 'Ubuntu', sans-serif;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	position: absolute;
	margin: 0;
	height: 100%;
	width: 100%;
}